<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>410015504787-hau0tni70s1qtj8p2nkce8lc6bepq2uj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.410015504787-hau0tni70s1qtj8p2nkce8lc6bepq2uj</string>
	<key>API_KEY</key>
	<string>AIzaSyCPa6AQZBChnc-JSjPHWioSl-K-CbGVjBE</string>
	<key>GCM_SENDER_ID</key>
	<string>410015504787</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.memes.Reels</string>
	<key>PROJECT_ID</key>
	<string>emberai</string>
	<key>STORAGE_BUCKET</key>
	<string>emberai.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:410015504787:ios:2d0a9dd02bfa560504f066</string>
</dict>
</plist>